@charset "utf-8";

/* 

Class: WEBSITE DESIGN - 420-WB4-AB
Assignment: Final Project

Team 4
    Craig Collins (1038789)
    James Fallouh (6171620)
    SeyedehFatemeh Fekribaygi (6284424)

    Current Date: TBD
    Filename: Custom.CSS

    Purpose: This is the custom.css code.
*/

/* ---------------------- footer ---------------------- */
.footer .container{
display: flex;
justify-content: space-between;
}
.footer-collapse{
    justify-content: center;
}
.btn-primary{
    float:right;
    margin: 0 8% 0 0;
}
.dropdown-menu li a:hover{
    color: darkgray;
    background-color: darkblue;
    text-decoration: underline;
}
.navbar a:hover{
    color: darkgray;
    background-color: darkblue;
    text-decoration: underline;
}
/* ---------------------------------------------------- */